
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sistemdeki Kayıtlı Ürünler</h3>
            <br />
            <a href="/AdminPanel/Product/New" class="btn btn-info">Yeni Ürün</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            BURAYA KAYITLI ÜRÜN LİSTESİ GELECEK , DATATABLE KULLANILACAK.
        </div>
    </div>
</div>

